/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3); /* opsional, bisa kasih efek gelap */
  /* z-index: 9998;
  display: none;
  transition: opacity 0.3s ease-in-out; */
/* } */

/* .overlay.active {
  display: block;
/* } */
